<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <% inc/_head.html %>

        <title>Your Hometown Buyers | We Buy Houses In Boise ID | Sell Your House As Is</title>
        <meta content="Sell your house fast in Boise, Meridian, Nampa or anywhere in the Treasure Valley! We're home buyers in Boise and we buy houses for cash." name="description">
    
    </head>
    <body class="home">

        <!-- HEADER -->
        <% inc/_header.html %>

        <div class="container">
            <h1>We Buy Houses</h1>
            <h2>We Buy Houses in Boise & Treasure Valley</h2>
            <p>No Fees. No Agent Commissions. No Repairs.</p>
            <p>You’ll Get a Fair Offer – You Choose the Closing Date </p>
            <span class="number">(208) 918-1996</span>
        </div>

        <!-- FOOTER -->
        <% inc/_footer.html %>

        <!-- LOAD SCRIPTS ASYNC -->
        <% inc/_scripts.html %>

    </body>
</html>