<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <% inc/_head.html %>

        <title>Your Hometown Buyers | We Buy Houses In Boise ID | Sell Your House As Is</title>
        <meta content="Sell your house FAST for cash! No fees & pay no commissions with Gem State Cash Offer. We buy houses in Boise and surrounding areas as is." name="description">


    </head>
    <body class="home">

        <!-- HEADER -->
        <% inc/_header.html %>

 <% inc/_video.html %>
    <div class="container">
        <div class="row">
            <div class="column" style="margin-top: 10%">

                <h1>COMING SOON</h1>

                   <h2>We're working on it. Excuse the mess</h2>
            </div>
        </div>
    </div>

        <!-- FOOTER -->
        <% inc/_footer.html %>

        <!-- LOAD SCRIPTS ASYNC -->
        <% inc/_scripts.html %>


    </body>
</html>