body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #162d3e;
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
    text-align: center; 
}

div {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
}
        header,
        footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 25px 5%;
        }
        .logo {
            margin: 0 auto;
        }
        .logo > img {
            width: 100%;
            height: auto;
            max-width: 400px;
        }
        .container {
            width: 100%;
        }
        footer {
            padding:25px 5%;
            text-align: center;
            font-size: 14px;
            color: #131313;
        }


    h1 {
        font-size: 4rem;
    }


    .number {
        font-size: 24px;
        font-weight: 700;
    }
/* ======================================================= */
/* FULLSCREEN VIDEO - OBJECT FIT
/* ======================================================= */
.video-container {
    position: relative; /* Mandatory */
    overflow: hidden; /* Mandatory */
    width:100%; /* Mandatory */
    height: 65vh;

    background-color: #000; /* OPTIONAL */
}

.video-container > video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
    
.video-container > video::-webkit-media-controls {
    display: none !important;
}

/* These can be adjusted based on project */
@media only screen and (min-width: 680px) {
    .video-container {
        height: 90vh; 
    }   
}

@media only screen and (min-width: 1025px) {
    .video-container {
        height: calc(100vh - 54px);
    }  
}